body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: yellow;
}

.App {
  text-align: center;
}

.filter {
  font-size: large;
  background-color: red;
  padding: 20px;
}

.filter-label-to-input {
  padding-right: 100px;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  padding: 80px;
}

@media all and (max-width: 1500px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1000px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 700px) {
  .results {
    grid-template-columns: 1fr;
  }
}

.pk-card {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

.pk-name {
  font-weight: bold;
  font-size: 20px;
}

.pk-img {
  width: 120px;
}

.types-container {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.pk-type-tag {
  color: white;
  padding: 8px;
  border-radius: 8px;
  list-style-type: none
}

.pk-type-tag-bug {
  background-color: rgb(151, 165, 29);
}

.pk-type-tag-dark {
  background-color: rgb(100, 78, 64);
}

.pk-type-tag-dragon {
  background-color: rgb(94, 29, 247);
}

.pk-type-tag-electric {
  background-color: rgb(246, 201, 19);
}

.pk-type-tag-fairy {
  background-color: rgb(232, 120, 144);
}

.pk-type-tag-flying {
  background-color: rgb(142, 111, 235);
}

.pk-type-tag-ice {
  background-color: rgb(126, 206, 206);
}

.pk-type-tag-fighting {
  background-color: rgb(174, 42, 36);
}

.pk-type-tag-fire {
  background-color: rgb(237, 109, 18);
}

.pk-type-tag-ghost {
  background-color: rgb(100, 78, 136);
}

.pk-type-tag-grass {
  background-color: rgb(105, 194, 61);
}

.pk-type-tag-ground {
  background-color: rgb(219, 181, 77);
}

.pk-type-tag-normal {
  background-color: rgb(156, 156, 99);
}

.pk-type-tag-poison {
  background-color: rgb(146, 58, 146);
}

.pk-type-tag-psychic {
  background-color: rgb(247, 54, 112);
}

.pk-type-tag-rock {
  background-color: rgb(164, 143, 50);
}

.pk-type-tag-steel {
  background-color: rgb(160, 160, 192);
}

.pk-type-tag-water {
  background-color: rgb(69, 120, 237);
}

.pkDetailCard-generalContainer {
  background-color: rgba(61, 170, 253, 0.5);
  border-radius: 20px;
  padding: 30px;
  /* display: none; */
}

.pk-weight,
.pk-height,
.abilities-container,
.evolutionChain-container {
  text-align: left;
}
