body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: yellow;
}

.App {
  text-align: center;
}

.filter {
  font-size: large;
  background-color: red;
}

.results {
  font-size: large;
  background-color: #fabada;
}

.api-pokemon {
    background-color: green;
}
