body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: yellow;
}

.App {
  text-align: center;
}

.filter {
  font-size: large;
  background-color: red;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 50px;
}

.pk-card {
  background-color: white;
}
